* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding-top: 50px;
}

.container{
    width: 70%;
    margin: auto;
}
h1{
    margin-bottom: 25px;
   
}


table {
    width: 100%;


}

table, th, td {
    
    border-collapse: collapse;
    height: 60px;
    text-align: center;
    border: none;
    border: 1px solid  rgb(220, 216, 216);;
}

th {
    background-color: dodgerblue;
    color: white;
}

.tick {
    color: rgb(74, 143, 42);
    font-size: 18px;
    padding-left: 5px;
}

td button{
   padding: 2px 5px;
}

tr:nth-child(even){
    background-color: rgb(228, 227, 227);
}